= render layout: 'shared/overview', locals: { f: f } do
  .form-group
    = f.label :courses_per_schedule, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :courses_per_schedule, disabled: true, readonly: true, class: 'form-control'

  - if agenda.mandatory_courses.present?
    .form-group
      .col-sm-4.control-label
        = f.label :mandatory_course_ids
        .label.label-default
          %i.fa.fa-lock
      .col-sm-8.courses-list
        - agenda.mandatory_courses.each do |course|
          .label.label-info= course.code

  - if agenda.optional_courses.present?
    .form-group
      = f.label :courses, class: 'col-sm-4 control-label'
      .col-sm-8.courses-list
        - agenda.optional_courses.each do |course|
          .label.label-info= course.code
