= render layout: 'shared/overview', locals: { f: f } do
  .form-group
    = f.label :courses_per_schedule, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :courses_per_schedule, disabled: true, readonly: true, class: 'form-control'

  - if agenda.mandatory_course_codes.present?
    .form-group
      .col-sm-4.control-label
        = f.label :mandatory_course_codes
        .label.label-default
          %i.fa.fa-lock
      .col-sm-8.courses-list
        - agenda.mandatory_course_codes.each do |course_code|
          .label.label-info= course_code.upcase

  - if agenda.courses_remainder.present?
    .form-group
      = f.label :courses, class: 'col-sm-4 control-label'
      .col-sm-8.courses-list
        - agenda.courses_remainder.each do |course|
          .label.label-info= course.code
