= render layout: 'shared/overview', locals: { f: f } do
  .form-group
    = f.label :courses_per_schedule, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :courses_per_schedule, disabled: true, readonly: true, class: 'form-control'

  .form-group
    = f.label :schedules_count, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :schedules_count, disabled: true, readonly: true, class: 'form-control'

  .row
    .col-sm-offset-4.col-sm-8
      %table.table.courses-selected
        %thead
          %tr
            %th{colspan: 2}= t('.courses_selected')
            %th= t('.course_groups')
        %tbody
          - @agenda.courses.each do |course|
            %tr
              %td
                - if course.mandatory?
                  %i.fa.fa-lock
                - else
                  %i.fa.fa-unlock
              %td= course.code
              %td
                - course.group_numbers.each do |group_numbers|
                  %span.label.label-default= group_numbers
