= render layout: 'shared/overview', locals: { f: f } do
  .form-group
    = f.label :courses_per_schedule, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :courses_per_schedule, disabled: true, readonly: true, class: 'form-control'

  .form-group
    = f.label :courses, class: 'col-sm-4 control-label'
    .col-sm-8
      - agenda.courses.each do |course|
        .label.label-info= course.code
