= render layout: 'shared/overview', locals: { f: f } do
  .form-group
    = f.label :courses_per_schedule, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :courses_per_schedule, disabled: true, readonly: true, class: 'form-control'

  .form-group
    .col-sm-4.control-label
      = f.label :courses
    .col-sm-8.courses-list
      - agenda.courses.each do |course|
        %span.label.label-info
          = course.code
          - if course.mandatory?
            %i.fa.fa-lock
        - if agenda.filter_groups?
          - course.group_numbers.each do |group_numbers|
            %span.label.label-default= group_numbers
          %br
