.container
  = render 'shared/breadcrumb'

  %h1.page-header= t('.title')

= form_for agenda do |f|
  = render 'overview', f: f

.container-fluid.schedules
  - schedules.each_slice(2).with_index do |schedules_slice, index|
    .row= render partial: 'schedule', collection: schedules_slice, locals: {slice_index: index * 2}
= paginate @schedules
