%footer.footer
  .container
    %p= t(".message_header")
    %p= t(".message_body")
    .donate
      %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#donation-modal"}= t(".donate")

#donation-modal.modal.fade{role: "dialog", tabindex: "-1", "aria-labelledby" => "donation-modal-label"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#donation-modal-label.modal-title= t(".donate")

      .modal-body
        = render template: "donations/new"
