.well
  .container
    .form-horizontal
      .form-group
        = f.label :term_title, 'Trimestre', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :term_title, readonly: true, class: 'form-control'

      .form-group
        = f.label :academic_degree_name, 'Baccalauréat', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :academic_degree_name, readonly: true, class: 'form-control'

      = yield
