.well
  .container
    .form-horizontal
      .form-group
        = f.label :term_title, class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :term_title, disabled: true, readonly: true, class: 'form-control'

      .form-group
        = f.label :academic_degree_name, class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :academic_degree_name, disabled: true, readonly: true, class: 'form-control'

      = yield
