.container
  = render "shared/breadcrumb"
  = render "shared/flash_messages"

  - if agenda.errors.any?
    .alert.alert-danger{role: "alert"}
      - agenda.errors.each do |_, error|
        %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => true}
        = error
        %br

  %h1.page-header= t(".title")

= form_for [@academic_degree_term, agenda] do |f|
  = render "shared/overview", f: f

  .container
    %fieldset
      %legend= f.label :courses
      %p= t(".mandatory_courses_explication_html")

      - agenda.academic_degree_term_courses.each_with_index do |academic_degree_term_course, index|
        - agenda_course = agenda.courses.find { |course| course.academic_degree_term_course_id == academic_degree_term_course.id }

        .course-checkbox-button.btn-group.btn-group-justified{ role: "group" }
          = hidden_field_tag "agenda[courses_attributes][#{index}][id]", agenda_course.id, id: nil unless agenda_course.nil?
          = hidden_field_tag "agenda[courses_attributes][#{index}][academic_degree_term_course_id]", academic_degree_term_course.id, id: nil
          = hidden_field_tag "agenda[courses_attributes][#{index}][mandatory]", false, id: nil
          = hidden_field_tag "agenda[courses_attributes][#{index}][_destroy]", true, id: nil

          = check_box_tag "agenda[courses_attributes][#{index}][_destroy]", false, !agenda_course.nil?, data: { "child-checkbox" => "agenda_courses_attributes_#{index}_mandatory" }
          = label_tag "agenda_courses_attributes_#{index}__destroy", class: "btn btn-default" do
            = academic_degree_term_course.code

          = check_box_tag "agenda[courses_attributes][#{index}][mandatory]", true, agenda_course.try!(:mandatory?)
          = label_tag "agenda_courses_attributes_#{index}_mandatory", class: "btn btn-default" do
            %i.checked.fa.fa-lock
            %i.unchecked.fa.fa-unlock-alt

    %fieldset
      %legend= f.label :courses_per_schedule
      .btn-group.courses-per-schedule-group.btn-group-justified
        = f.collection_radio_buttons :courses_per_schedule, Agenda::COURSES_PER_SCHEDULE_RANGE, :to_i, :to_i do |ff|
          = ff.radio_button
          = ff.label(class: "btn btn-default")

    %a.schedules-anchor{name: "leaves"}
    %fieldset.form-horizontal
      %legend= f.label :leaves
      = f.nested_form :leaves
      = f.create_button :leaves, "+", class: "btn btn-default col-xs-12 col-sm-4 pull-right"

    = f.submit class: "col-xs-12 col-sm-4 pull-right btn btn-primary"
